* {
    margin: 0;
    padding: 0;
}

#sec-four {
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.ea-membership {
    background-image: url(/Design_system/Ea-gamepass-img.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 60vh;
}

.member-text {
    margin-left: 20%;
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ea-play-logo img {
    height: 5rem;
    width: 15.938rem;
    margin-bottom: 1.25rem;
    margin-left: 0;
}

.member-text p {
    margin: 0;
    color: white;
    font-size: 1.25rem;
}

.member-text button {
    margin-top: 1.5rem;
}

.parental {
    width: 100vw;
    height: 12vh;
    background-color: #6eb0d7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parental-body{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.parental-body h2 {
    font-weight: 550;
}

.first-footer {
    width: 100vw;
    height: 35vh;
    background-color: #eaeaea;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ftr-size {
    width: 60%;
}

.warnings{
    height: 30%;
}

.warnings p:first-child{
    margin-top: 5vh;
}

.warnings p {
    font-size: 0.813rem;
    margin-bottom: 0.313rem;
    margin-left: 0;
}

.warnings hr {
    margin-top: 1.25rem;
}

.warnings a {
    text-decoration: none;
    color: var(--red);
}

.first-footer-links {
    height: 70%;
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
}

.first-footer-links .lists {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.first-footer-links .lists ul {
    margin-bottom: 1.25rem;
}

.first-footer-links .lists ul li {
    list-style: none;
    display: inline-block;
}

.first-footer-links .lists ul li:not(:last-child) {
    margin-right: 2rem;
}


.first-footer-links .lists a {
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.first-footer-links .lists a:hover {
    color: var(--red);
}


.footer-media {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-media p {
    font-weight: bold;
    font-size: 0.938rem;
    margin-bottom: 1.25rem;
}

.footer-media .icons ion-icon {
    font-size: 25px;
}

.footer-media .icons ion-icon:not(:first-child) {
    margin-left: 1.3rem;
}