:root {
  --sidebarcolor: rgb(237, 79, 0);
}

.sidebar-mobile li .submenu {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

.sidebar-mobile {
  z-index: 1;

  background-color: white;
  float: left;
  position: fixed;
  width: 28vw;
  height: 100%;
  transition: all 1s;
  overflow: scroll;
}

.nav-link {
  color: black;
}
.nav-link:focus,
.nav-link:hover {
  color: var(--sidebarcolor);
}

.breakline {
  width: 90%;
  border: solid 1px var(--sidebarcolor);
  margin: auto;
}
.trasparent {
  color: rgb(212, 210, 210);
}

.blackbreak {
  width: 90%;
  border: solid 0.5px rgb(212, 210, 210);
  margin: auto;
}
